# Supabase Configurations
# Replace placeholders with credentials from your Supabase Project Settings API Tab
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-Fva1BI_-ZChx3VgLJ9n0g_cINtJr4U
